APP_NAME="qrm.sg"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://qrm.sg
APP_PORT=8801

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=qrm_sg
DB_USERNAME=qrm
DB_PASSWORD=

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

MAIL_MAILER=log
